
<div class="content">
    <h1><br>Online Food <br><span>Delivery</span></h1> 
    <p class="par">A food delivery app that provides<br> food delivery at your door in very less time and with the best packaging.<br> Providing food from every famous food place near you.<br> Order food with the best user experience.</p>
    <button class="cn"><a [routerLink]="['/contact']">JOIN US</a></button>
    <div class="form">
        <h2>Login Here</h2>
        <input type="email" name="email" placeholder="Enter Email Here">
        <br><input type="password" name="" placeholder="Enter Password Here">
        <br><button class="btnn"><a [routerLink]="['/menu']">Login</a></button>

        <p class="link">Don't have an account<br>
        <a [routerLink]="['/registration']">Sign up</a> here</p>
        
    </div>
    </div>
