<div class="banner">
    <div class="content">
    <h1><br>Online Food <br><span>Delivery</span></h1> 
    <p class="par">A food delivery app that provides<br> food delivery at your door in very less time and with the best packaging.<br> Providing food from every famous food place near you.<br> Order food with the best user experience.</p>
    <button class="cn"><a [routerLink]="['/contact']">JOIN US</a></button>
    <div class="form">
       <h2>Sing Up Here</h2>
        <input type="text" name="" placeholder="Enter Full Name">
        <br><input type="text" name="" placeholder="Enter Address">
        <br><input type="text" name="" placeholder="Enter Username">
        <br><input type="password" name="" placeholder="Enter Password">
        <br><input type="text" name="" placeholder="Enter Mobile Number">
        <br><button class="btnn"><a [routerLink]="['/login']">Register</a></button>

        <p class="link">Already Have Account<br>
        <a [routerLink]="['/login']">Login</a> here</p>
        
    </div>
    </div>

</div>